<div class="row">
  <h1>New Accont on <strong>Facke</strong>book</h1>
  <div class="col-md-6">
    <%= image_tag "user_new.png", id: "user_new" %>
  </div>
  <div class="col-md-6">

  <%= form_with(model: @user, local: true) do |f|%>
    <% if @user.errors.any? %>
      <div id="error_explanetion" >
      <h2><%= pluralize(@user.errors.count,"error") %> prohibited thie @user from beign saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li id="error_message"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class:'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class:'form-control' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class:'form-control' %>

    <%= f.submit "新規アカウント作成", class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>