<%=form_with(model: @post, local: true) do |f| %>
    <div class="content_title">
      <%= f.label :content %>
      <%= f.text_field :content %>
    </div>
    <div class="content_title">
      <%= f.label :img %>
      <%= f.file_field :img %>
    </div>
    <%= f.submit "投稿する" %>
  <% end %>