
<div class="row">
  <nav class="col-md-3">
    <ul class="nav-left">
      <li><a herf="#"><i class="far fa-file"></i> ニュース</a></li>
      <li><a herf="#"><i class="far fa-comments"></i> メッセージ</a></li>
      <li><a herf="#"><i class="far fa-calendar-alt"></i> カレンダー</a></li>
      <li><a herf="#"><i class="far fa-flag"></i> お気に入り</a></li>
      <li><a herf="#"><i class="fas fa-users"></i> グループ</a></li>
    </ul>
  </nav>
  <div class="col-md-6">
    <%=form_with(model: @post, local: true, url: choose_new_or_edit ) do |f| %>
      <div class="post-content">
        <%= f.label :投稿を作成する %>
        <%= f.text_area :content, class:'form-control'%>
        <%= f.label :画像 %>
        <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
        <%= f.submit '投稿する', class:'btn btn-primary'%>
      </div>
    <% end %>
    <% @posts.each do |post| %>
      <div class="posted-body">
        <div class="posted-header"><%= "#{current_user.name}" %>
          <div class="posted-action">
            <%= link_to "詳細", post_path(post.id) %>
            <%= link_to "編集", edit_post_path(post.id) %>
            <%= link_to "削除", post_path(post.id), method: :delete, data:{confirm: "削除しますか？"} %>
          </div>
        </div>
        <div class="posted-content">
          <%= "#{post.content}" %>
        </div>
          <%= image_tag "#{post.image}", class:"posted-img center-block" %>
      </div>
    <% end %>
  </div>
  <div class="info-field col-md-3">
    <div class="info">
      <p>友達申請が届いています。</p>
    </div>
    <div class="info">
      <p>友達申請が届いています。</p>
    </div>
  </div>
</div>