<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7f18445a8d.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="navbar navbar-fixed-top">
        <% if logged_in? %>
          <%= link_to posts_index_path(current_user.id) do %>
            <%= image_tag "logo_small", id: "logo_small" %>
          <% end %>
          <form id="search_form" action="http://localhost:3000/posts" method="get">
            <input id="search_box" type="text" placeholder="検索" />
            <button id="search_btn" type="submit" ><i class="fas fa-search"></i></button>
          </form>
        <% else %>
          <%= link_to new_user_path do %>
            <%= image_tag "logo_large.png", id: "logo_large" %>
          <% end %>
        <% end %>
        <nav>
        <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <li><%= link_to "#{current_user.name}さん", user_path(current_user.id) %></li>
            <li><%= link_to "Mypage", user_path(current_user.id) %></li>
            <li><%= link_to "Logout",  session_path(current_user.id), method: :delete %></li>
          <% else %>
            <li><%= link_to "Singup", new_user_path  %></li>
            <li><%= link_to "Login", new_session_path %></li>
          <% end %>
          </ul>
        </nav>
      </header>
       <div>
        <% flash.each do |key,value| %>
          <%= content_tag(:div, value, class:"#{key}") %>
        <% end %>
       </div>
      <%= yield %>
    </div>
  </body>
</html>
