<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="navbar navbar-fixed-top navbar-inverse">
        <%= link_to "fakebook", '#', id: "logo" %>
        <nav>
        <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Mypage", user_path(current_user.id) %></li>
        <li><%= link_to "Logout",  session_path(current_user.id), method: :delete %></li>
        <% else %>
        <li><%= link_to "Singup", new_user_path  %></li>
        <li><%= link_to "Login", new_session_path %></li>
        </ul>
        <% end %>
        </nav>
        </header>
        <% flash.each do |key,value| %>
          <%= content_tag(:div, value, class:"#{key}") %>
        <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
